@page
@model IndexModel
@{
    ViewData["Title"] = "Vaccination Data";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    Get vaccination data credentials and add to wallet.
</div>

<div class="text-center">
    <img src="~/ndl_car_01.png" />
</div>

