@page
@model IndexModel
@{
    ViewData["Title"] = "Vaccination Data";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    Get vaccination data credentials and add to wallet.
</div>

<br /><br />

<div class="text-center">
    <img src="~/pexels-gustavo-fring-3985170.jpg" width="400" />
</div>

