@page
@model VaccineCredentialsIssuer.Pages.ViewLastCredentialsInfoModel
@{
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <img src="~/pexels-artem-podrez-5878503.jpg" width="200" alt="Vaccination Data">
                <div>
                    <b>Latest Vaccination Data Credential Issuer</b>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">DID ID</dt>
                        <dd class="col-sm-8">
                            @Model.LatestVaccinationDid
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-4">Callback</dt>
                        <dd class="col-sm-8">
                            @Model.LatestVaccinationDataCallback
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>